
    <!--birinci kisim start-->
    <div class="nav">
        <h1 class="baslik" style="color: #013571;"><br>دوراتنا</h1>
        <ul class="icRight">
            <h3>التحضير للدخول الى الجامعة</h3>
            <li class="icerik5"><a href="#">اليوس</a></li>
            <li class="icerik5"><a href="#">السات</a></li>
        </ul>
        <ul class="icRight">
            <h3>اللغات</h3>
            <li class="icerik"><a href="#">اللغة الانكليزية</a></li>
            <li class="icerik"><a href="#">اللغة التركية</a></li>
            <li class="icerik"><a href="#">اللغة الالمانية</a></li>
        </ul>
        <ul class="icRight">
            <h3>التأهيل المهني</h3>
            <li class="icerik"><a href="#">التصميم</a></li>
            <li class="icerik"><a href="#">التسويق الالكتروني</a></li>
        </ul>
    </div>
    <!--ikinci kisim end-->

    <!--ikinci kisim start-->
    <div class="nav" style="background: #013571;">
        <h1 class="baslik" style="color: #1aa541;"><br>خدماتنا</h1>
        <ul class="icLeft">
            <h3>قبولات جامعية</h3>
            <li class="icerik"><a href="#">حكومي</a></li>
            <li class="icerik"><a href="#">خاص</a></li>
        </ul>
        <ul class="icLeft">
            <h3>اقامات</h3>
            <li class="icerik"><a href="#">سياحية</a></li>
            <li class="icerik"><a href="#">طلابية</a></li>
            <li class="icerik"><a href="#">عمل</a></li>
        </ul>
        <ul class="icLeft">
            <h3>سكنات طلابية</h3>
            <li class="icerik"><a href="#">حكومي</a></li>
            <li class="icerik"><a href="#">خاص</a></li>
        </ul>
        <ul class="icLeft">
            <h3>اخرى</h3>
            <li class="icerik"><a href="#">ترجمة محلفة</a></li>
            <li class="icerik"><a href="#">استقبال من المطار</a></li>
        </ul>
    </div>
    <!--ikinci kisim end-->