<footer id="footerContainer" dir="rtl">
    <div class="footerBoxRight">
        <h1 id="footLogo">Ikraقرأ</h1>
        <a href="https://api.whatsapp.com/send?phone=905336931214&fbclid=IwAR2CtQt6ckhyjjgzdaiTzqy_shM7FUtn3k-fjWSFTqOAkWah364EZPKVsZc" target="_blank"><img src="assets/images/whatsapp.jpg" alt="" class="daire" /></a>
        <a href="https://www.instagram.com/ikra.edu.tr/" target="_blank"><img src="assets/images/instegram.jpg" alt="" class="daire"/></a>
        <a href="https://www.facebook.com/ikra.edu.tr/" target="_blank"><img src="assets/images/facebook.jpg" alt="" class="daire"/></a>
    </div>
    <div class="footerBoxLeft">
        <h3 class="foot">تواصل معنا</h3>
        <p><span class="iletisimBas"> رقم الهاتف  </span> : <span class="baglantilar"><a href="tel: +90 533 693 12 14 "> <span dir="ltr">  +90 533 693 12 14</span> </a></span></p>
        <p><span class="iletisimBas"> ايميل </span> : <span class="baglantilar"><a href="mailto:ikra.edu.tr@gmail.com" target="_blank" class="bağlantılar">ikra.edu.tr@gmail.com</a></span></p>
        <p><span class="iletisimBas">العنوان </span> : <span class="baglantilar"><a href="https://www.google.com/maps/dir/41.034765,28.6787552/41.0352,28.67801/@41.0350175,28.6764333,17z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0" target="_blank">تركيا-اسطنبول-اسنيورت-الميدان</a></span></p>
        <div style="clear: left;"></div>
    </div>
</footer>
